body {
  margin: 0;
}
#root {
  font-family: sans-serif;
  font-weight: 100;
  line-height: 1.7em;
  background: #474747;
  color: #dddddd;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  padding: 60px 20px 20px;
  h1 {
    font-weight: 100;
    position: fixed;
    top: 0;
    background: #2c2c2c;
    width: 100%;
    margin: 0;
    left: 0;
    padding: 10px 20px;
    font-size: 20px;
  }
  ol, ul {
    padding: 0 0 0 20px;
    & > li {
      margin-bottom: 20px;
    }
  }
  a {
    color: #4eb9f7;
  }
  .code {
    font-family: monospace;
    background: rgba(0,0,0,0.3);
    padding: 0 4px;
    border-radius: 2px;
    display: inline-block;
  }
}